<h1>Listing weathers</h1>

<table>
  <tr>
    <th>Today</th>
    <th>Temperature</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @weathers.each do |weather| %>
  <tr>
    <td><%= weather.today %></td>
    <td><%= weather.temperature %></td>
    <td><%= weather.description %></td>
    <td><%= link_to 'Show', weather %></td>
    <td><%= link_to 'Edit', edit_weather_path(weather) %></td>
    <td><%= link_to 'Destroy', weather, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Weather', new_weather_path %>
